node_modules
.node_modules
dist/*
test-args.txt
~*.docx
\#*\#
.\#*
rwc-report.html
*.swp
build.json
*.actual
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
.idea
yarn.lock
yarn-error.log
.parallelperf.*
.failed-tests
TEST-results.xml
tests
.vscode
.git
.github
*.sh
*.md
LICENSE
Dockerfile
.gitignore
*.patch